@import "src/styles/variables";

.fab {
  align-items: center;
  background-color: $colorOrange;
  border-radius: 50%;
  border: 0;
  bottom: 75px;
  color: $colorGrayDarker;
  display: flex;
  font-size: 24px;
  height: 50px;
  justify-content: center;
  position: fixed;
  right: 25px;
  width: 50px;
  z-index: $zLayerTwo;

  &.disabled {
    background-color: $colorGray;
    color: $colorGrayLightest;
    opacity: 0.85;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $colorGrayDarker;
    color: $colorOrange;
    cursor: pointer;
  }
}
