@import "src/styles/variables";

.btn-form {
  background-color: $colorBlueDark;
  border: none;
  border-radius: 5px;
  color: $colorWhite;
  padding: 7px 13px;
  font-size: $buttonFontSize;
  font-weight: 400;
  margin: 30px 0;
  min-width: 75px;
  transition: all 0.25s ease-in-out;

  &:disabled {
    background-color: $colorGrayLightest;
    color: $colorGray;
  }

  &:hover {
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  &:focus {
    outline: none;
  }
}
