@import "src/styles/variables.scss";

.record-match-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(#{$maxModalHeight} - #{$modalContentMarginTop} - 10px);
  width: $modalContentWidth;

  .record-season {
    margin: 0 0 5px;
    padding: 10px 0 10px 5px;
    width: 100%;
  }

  .record-players {
    padding: 0 0 25px 5px;
  }

  .record-actions {
    align-items: center;
    border-top: 2px solid $colorGrayDark;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    width: 100%;

    .btn-fancy,
    .btn-form {
      margin: 0;
    }
  }
}
