@import "src/styles/variables";

.home-view {
  align-items: center;
  background-color: $colorGrayLighter;
  display: flex;
  justify-content: center;
  min-height: $appContentMinHeight;

  .player-record-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: $appContentMinHeight;
    max-width: 50vw;
    margin: 30px 0 0;
    padding: 0;
    width: 100vw;

    .record-headers {
      align-items: center;
      background-color: $colorGray;
      border-radius: 5px 5px 0 0;
      display: inline-flex;
      padding: 5px 10px;
      width: 100%;

      .header {
        font-weight: bold;
        width: 30%;

        &.name {
          width: 40%;
        }
      }
    }

    .player-record {
      align-items: center;
      background-color: $colorWhite;
      display: inline-flex;
      padding: 5px 10px;
      margin: 0;
      width: 100%;

      &.user {
        background-color: $colorOrangeHighlight;
      }

      .wins,
      .losses {
        width: 30%;
      }

      .name {
        font-size: 16px;
        width: 40%;

        .small {
          font-size: 8px;
        }
      }
    }
  }
}
