@import "src/styles/variables";

.form-multi-select {
  align-items: flex-start;
  display: inline-flex;
  width: 100%;

  .search {
    position: relative;
    min-width: 250px;

    &.has-panel {
      min-width: unset;
      width: 35%;
    }
  }

  .panel {
    background-color: lightgray;
    border-radius: 10px;
    margin-left: 20px;
    padding: 15px 20px;
    width: calc(65% - 20px);

    &.has-label {
      margin-top: 26px;
    }
  }
}
