@import "src/styles/variables.scss";

.record-match-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(#{$maxModalHeight} - #{$modalContentMarginTop} - 10px);
  width: $modalContentWidth;

  .record-actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 30px 0 15px;
    width: 100%;

    .form-button {
      margin: 0;
    }
  }
}
