@import "src/styles/variables.scss";

.card-step {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 5px;

  .title {
    font-size: 24px;
  }

  .dim {
    opacity: .6;
  }

  .card-list {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0 ;
  }

  .hint {
    color: $colorGrayDarkest;
    font-size: 16px;
    height: 18px;
    margin: 50px 0 0;
    opacity: 0;
    text-align: center;
    transition: opacity .5s ease-in-out;
    width: 50vw;

    &.visible {
      opacity: 1;
    }

    .emphasis {
      color: $colorOrangeDarker;
      font-style: italic;
    }
  }
}
