@import "src/styles/variables";

.protected-content {
  min-height: $appContentMinHeight;
  margin-top: $headerHeight;
  width: 100%;

  .msg-unauthorized {
    align-items: center;
    display: flex;
    height: $appContentMinHeight;
    justify-content: center;
    width: 100%;
  }
}
