@import "src/styles/variables";

.protected-content {
  height: $appContentMinHeight;
  margin-top: $headerHeight;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;

  .msg-unauthorized {
    align-items: center;
    display: flex;
    height: $appContentMinHeight;
    justify-content: center;
    width: 100%;
  }
}
