.getting-started-content {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: flex-start;
  left: 10px;
  max-width: 50vw;
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  transition: all 0.75s ease-in-out;
  top: 0;
  width: 100%;

  &.visible {
    left: 0;
    opacity: 1;
  }

  .note {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.visible {
      opacity: 0.75;
    }
  }
}
