@import "src/styles/animations";
@import "src/styles/variables";

.modal-container {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;

  .modal {
    animation: slideUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    background-color: $colorGray;
    border: 2px solid $colorGrayDark;
    border-radius: 5px;
    height: $maxModalHeight;
    opacity: 0;
    position: relative;
    top: 10px;
    width: $maxModalWidth;
    z-index: $zLayerFour;

    .modal-content {
      margin-top: $modalContentMarginTop;
      height: calc(#{$maxModalHeight} - #{$modalContentMarginTop});
      padding: 0 $modalContentHorizontalPadding;
      position: relative;
      overflow-y: scroll;
      width: $modalContentWidth;
    }

    .modal-header {
      align-items: center;
      background-color: $colorGray;
      display: flex;
      height: $modalHeaderHeight;
      justify-content: space-between;
      padding: 15px $modalContentHorizontalPadding $modalHeaderVerticalPadding;
      position: fixed;
      width: $modalContentWidth;
      z-index: $zLayerFour;

      .modal-title {
        font-size: 18px;
        font-weight: bold;
      }

      .btn-close {
        background-color: transparent;
        border: 0;
        font-size: 18px;
        margin: 0;
        padding: 0;

        &:hover {
          color: $colorOrange;
          cursor: pointer;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}
