@import "src/styles/variables";

.form-dropdown {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  max-width: 250px;

  .btn-dropdown-toggle {
    background-color: $colorWhite;
    border: 0;
    border-radius: 5px;
    padding: 10px 8px;
    min-width: 250px;
    text-align: left;

    &:focus {
      outline: none;
    }
  }

  .dropdown-options-wrapper {
    height: -moz-fit-content;
    height: -webkit-fit-content;
    position: relative;
    width: 100%;

    &::before,
    &::after {
      opacity: 0;
    }

    &.show {
      &::before {
        border: 10px solid transparent;
        border-bottom-color: $colorGrayDarkest;
        border-top: 0;
        content: "";
        height: 0;
        left: 20%;
        margin-left: -13px;
        opacity: 1;
        position: absolute;
        top: 3px;
        width: 0;
        z-index: $zLayerTwo;
      }

      &::after {
        border: 8px solid transparent;
        border-bottom-color: $colorWhite;
        border-top: 0;
        content: "";
        height: 0;
        left: 20%;
        margin-left: -11px;
        opacity: 1;
        position: absolute;
        top: 5px;
        width: 0;
        z-index: $zLayerTwo;
      }
    }
  }
}
