@import "src/styles/mixins";
@import "src/styles/variables";

.type-ahead-label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  .input-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    width: 100%;

    .input {
      @include input;

      border: 0;
      box-shadow: none;
      padding: 10px 30px 10px 15px;
      width: calc(100% - 35px);

      &:focus {
        border: 0;
        box-shadow: none;
      }
    }
  }
}
