@import "src/styles/variables";

.player-record {
  align-items: center;
  background-color: $colorWhite;
  display: inline-flex;
  margin: 0;
  padding: 5px 30px;
  width: calc(100% - 60px);

  &.user {
    background-color: $colorOrangeHighlight;
  }

  .wins,
  .losses {
    text-align: center;
    width: 30%;
  }

  .name {
    font-size: 16px;
    width: 40%;

    .small {
      font-size: 8px;
    }
  }
}
