@import "src/styles/variables";

.multi-select-label {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  .input-container {
    display: inline-flex;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    width: 100%;

    .input {
      border: 1px solid $colorBlueLighter;
      border-radius: 0.25rem;
      box-shadow: 0 0 5px $colorBlueLighter;
      display: block;
      font-size: 0.9rem;
      margin: 8px 0;
      outline: none;
      padding: 10px 40px 10px 15px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      width: calc(100% - 30px);

      &:focus {
        border-color: $colorBlueLight;
        box-shadow: 0 0 0 0.2rem $colorBlueShadow;
      }
    }
  }
}
