@import "src/styles/variables";

.season-switcher {
  box-shadow: 8px 8px 6px -6px #777;
  width: 100%;

  .season-switcher-title {
    background-color: $colorGray;
    font-weight: bold;
    margin: 0;
    margin-top: 20px;
    padding: 20px 30px;
    width: calc(100% - 60px);
  }

  .season-switcher-dropdown {
    max-width: unset;
    width: 100%;

    .btn-dropdown-toggle {
      border-radius: 0;
      font-size: 18px;
      padding: 30px;
      width: 100%;

      .small {
        font-size: 10px;
      }

      .fa-caret-up,
      .fa-caret-down {
        font-size: 24px;
        right: 40px;
      }
    }

    .dropdown-options {
      .option {
        padding: 10px 15px;

        .btn-dropdown-option {
          font-size: 18px;

          .label {
            .small {
              font-size: 10px;
              margin-bottom: 2px;
            }
          }
        }
      }
    }
  }
}
