@import "src/styles/mixins";
@import "src/styles/variables";

label.form-input {
  width: 100%;

  .input-header {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    height: 18px;
    width: 100%;

    .title {
      margin: 0;
      padding: 0;
    }
  }

  .input-wrapper {
    display: inherit;
    position: relative;

    input {
      @include input;

      padding: 10px 12px;
      width: calc(100% - 26px);

      &:focus {
        border-color: $colorBlueLight;
        box-shadow: 0 0 0 0.2rem $colorBlueShadow;
      }
    }
  }

  .isRequired {
    color: $colorErrorText;
  }

  &.isInvalid {
    color: $colorError;

    input {
      border-color: $colorError;
      box-shadow: 0 0 5px $colorError;
      color: $colorBlack;
      outline: none;

      &:focus {
        border-color: $colorError;
        box-shadow: 0 0 5px $colorError;
      }
    }
  }
}
