@import "src/styles/variables";

.season-manager-view {
  align-items: center;
  display: flex;
  height: $appContentMinHeight;
  justify-content: flex-start;
  width: 100vw;

  .season-list {
    background-color: $colorGrayDarker;
    height: $appContentMinHeight;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;

    .season-list-item {
      width: 100%;

      .btn-season {
        background-color: transparent;
        border: 0;
        color: $colorWhite;
        padding: 10px 0;
        width: 100%;

        &:focus {
          outline: none;
        }

        &:hover {
          background-color: $colorGray;
          color: $colorGrayDarker;
          cursor: pointer;
        }
      }
    }
  }
}
