@import "src/styles/variables";

label.form-text-area {
  width: 100%;

  .text-area-header {
    align-items: center;
    display: inline-flex;
    justify-content: space-between;
    height: 20px;
    width: 100%;

    .title {
      margin: 0;
      padding: 0;
    }
  }

  .text-area-wrapper {
    display: inherit;
    position: relative;

    textarea {
      border: 1px solid $colorBlueLighter;
      border-radius: 0.25rem;
      border-color: $colorBlueLighter;
      box-shadow: 0 0 5px $colorBlueLighter;
      display: block;
      font-size: 1rem;
      margin: 8px 0;
      outline: none;
      padding: 8px 12px;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      width: calc(100% - 24px);

      &:focus {
        border-color: $colorBlueLight;
        box-shadow: 0 0 0 0.2rem $colorBlueShadow;
      }
    }
  }

  .isRequired {
    color: $colorErrorText;
  }

  .length-counter {
    text-align: right;
    width: 100%;

    &.danger {
      color: $colorErrorText;
    }
  }

  &.isInvalid {
    color: $colorError;

    textarea {
      border-color: $colorError;
      box-shadow: 0 0 5px $colorError;
      color: $colorBlack;
      outline: none;

      &:focus {
        border-color: $colorError;
        box-shadow: 0 0 5px $colorError;
      }
    }
  }
}
